@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');

:root {
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgba(255,0,86);
    --text-color: #0a0a0a;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    height: 55px;
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        font-size: 1.5em;
        font-weight: bold;
        color: var(--primary-color);
        text-shadow: 0 1px 3px var(--shadow-color);
        span {
            color: var(--text-color);
        }
    }

    .nav-links {
        a {
            margin-left: 1em;
            color: var(--text-color);
            letter-spacing: 2px;
            text-transform: uppercase;
            position: relative;
            &::before {
                content: '';
                display: inline-block;
                height: 3px;
                width: 100%;
                background-color: var(--primary-color);
                position: absolute;
                bottom: -5px;
                left: 0;
                transform: scaleX(0);  
                transition: transform calc(var(--animation-speed) * 0.2s ) ease-in-out;     
            }
            &:hover {
                &::before {
                    transform: scaleX(1);
                }
            }
            &.active {
                color: var(--primary-color);
                font-weight: bold;
            }
        }
    }
    .sidebar-btn{
        width: 35px;
        height: 28px;
        position: relative;
        display: none;
        .bar {
            background-color: var(--text-color);
            height: 6px;
            width: 100%;
            position: absolute;
            transition: transform calc(var(--animation-speed) * 0.1s ) ease-in-out;
            &:nth-child(1){
                top: 0;
            }
            &:nth-child(2){
                top: 50%;
                transform: translateY(-50%);
            }
            &:nth-child(3){
                top: 100%;
                transform: translateY(-100%);
            }
        }
        &.active {
            .bar {
                transform-origin: center;
                top: 50%;
                &:nth-child(1){
                    transform: rotate(45deg);
                }
                &:nth-child(2){
                    transform: rotate(-45deg);
                }
                &:nth-child(3){
                    transform: scale(0);
                }
                
            }
            
        }
        
    }
}

.container {
    padding-inline: 10vw;
}


@media screen and (max-width: 768px) {
    .navbar {
        .nav-links {
            display: none;
        }
        .sidebar-btn {
            display: block;
        }
    }
}